VITE_API_BASE_URL=/api
VITE_WS_URL=ws://127.0.0.1:8001/ws/events/
VITE_AGENT_SERVER_URL=

VITE_FIREBASE_API_KEY=AIzaSyCiuXcEM9RuFBM1nEHBCpn19hShaeJ1Wyo
VITE_FIREBASE_AUTH_DOMAIN=manage-d7841.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=manage-d7841
VITE_FIREBASE_STORAGE_BUCKET=manage-d7841.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=185772558814
VITE_FIREBASE_APP_ID=1:185772558814:web:419b5844779d6cf09af54f
VITE_FIREBASE_MEASUREMENT_ID=G-N3YH8PVSYH
